# Filtering and Sorting Data

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
# Step 2 & 3. Import the dataset and assign it to a variable called chipo
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

# Display the first few rows to see what we're working with
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [3]:
# First, clean the item_price column by removing the dollar sign and converting to float
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))

# Now we can filter and count items over $10
expensive_items = chipo[chipo['item_price'] > 10.00]
expensive_count = len(expensive_items)
expensive_count

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [4]:
# Create a dataframe with only item_name and item_price
item_prices = chipo[['item_name', 'item_price']]

# Show unique items with their prices by removing duplicates
unique_items = item_prices.drop_duplicates()
unique_items

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4237                    Chips and Guacamole        8.50
4354                       Steak Soft Tacos       18.50
4489                    Chips and Guacamole       17.80
4509                                  Chips        1.99
4510                          Barbacoa Bowl       11.49

[209 rows x 2 columns]

### Step 6. Sort by the name of the item

In [5]:
items_sorted = unique_items.sort_values(by='item_name')
items_sorted

              item_name  item_price
3389  6 Pack Soft Drink       12.98
298   6 Pack Soft Drink        6.49
4510      Barbacoa Bowl       11.49
3195      Barbacoa Bowl        8.69
95        Barbacoa Bowl        9.25
...                 ...         ...
186   Veggie Salad Bowl       11.25
3889  Veggie Soft Tacos       16.98
738   Veggie Soft Tacos       11.25
781   Veggie Soft Tacos        8.75
1395  Veggie Soft Tacos        8.49

[209 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [6]:
# First, find the maximum price
max_price = chipo['item_price'].max()

# Then find the quantity of the item with maximum price
max_price_item = chipo[chipo['item_price'] == max_price]
max_price_quantity = max_price_item['quantity'].values[0]
max_price_quantity

np.int64(15)

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [7]:
veggie_salad_orders = chipo[chipo['item_name'] == 'Veggie Salad Bowl']
veggie_salad_count = len(veggie_salad_orders)
veggie_salad_count

18

### Step 9. How many times did someone order more than one Canned Soda?

In [8]:
canned_soda_multiple = chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]
canned_soda_multiple_count = len(canned_soda_multiple)
canned_soda_multiple_count

20